* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    line-height: 1.6;
    background-color: rgb(221, 221, 221);
}

header {
    background-color: rgba(0, 0, 0, 0.849);
    padding: 30px;
    text-align: center;
    color: rgb(224, 224, 224);
    border-radius: 12px;
    margin-bottom: 90px;
}

#botaoListar{
    padding: 8px;
    border-radius: 8px;
    transition: 0.1s;
}

#botaoListar:hover{
    padding: 9px;
    background-color: lightgray;
}

tr,th,td{
    padding: 5px;
}

button{
    padding: 5px;
    border-radius: 5px;
    transition: 0.1s;
}

button:hover{
    padding: 6px;
    background-color: lightgray;
}

a{
    text-decoration: none;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.904);
    color: lightgray;
    border-radius: 10px;
    transition: 0.2s;
}

a:hover{
    padding: 18px;
    color: white;
}

footer{
    text-align: center;
    margin-top: 90px;
}

footer>p{
    color: rgba(0, 0, 0, 0.541);
}