*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: rgb(228, 228, 228);
}

header{
    background-color: rgba(0, 0, 0, 0.897);
    padding: 30px;
    text-align: center;
    color: rgb(223, 223, 223);
    border-radius: 10px;
    margin-bottom: 110px;
}

section{
    margin: auto;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.938);
    padding: 30px;
    color: lightgray;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 130px;
}

section>a{
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    transition: 0.1s;
}

section>a:hover{
    padding: 24px;
    background-color: rgb(160, 160, 160);
}

footer{
    text-align: center;
}

footer>p{
    color: rgba(0, 0, 0, 0.527);
}